<div class="adjustment-breakdown">
    <table class="table w-100">
        <thead>
            <tr>
                <th class="text-start">{{ SYSTEM_CONST.LABELS.FEE.ADJUSTMENT }}</th>
                <th class="text-start">{{ SYSTEM_CONST.LABELS.COMMON.REMARKS }}</th>
                <th class="text-end">{{ SYSTEM_CONST.LABELS.COMMON.AMOUNT }}</th>
            </tr>
        </thead>
        <tbody>
            @for (item of data; track item.feeAdjustmentId) {
            <tr>
                <td class="text-start">{{ item.adjustmentTypeName }}</td>
                <td class="text-start">{{ item.remarks || '-' }}</td>
                <td class="text-end">{{ item.amount | currencyFormat }}</td>
            </tr>
            }
        </tbody>
        <tfoot>
            <tr class="fw-bold">
                <td class="text-start">{{ SYSTEM_CONST.LABELS.COMMON.TOTAL }}</td>
                <td class="text-start"></td>
                <td class="text-end">{{ total | currencyFormat }}</td>
            </tr>
        </tfoot>
    </table>
</div>