$white: #fff;
$black: #212121;
$light-gray1: #f3f4f6;
$light-gray2: #f5f5f8;
$light-gray3: #f1f2f4;
$light-gray4: #d5d7d8;
$light-gray5: #e0e0e0;
$black-rgba-05: rgba(0, 0, 0, 0.05);
$black-rgba-06: rgba(0, 0, 0, 0.06);
$primary-color: var(--primary-color, #25A194);
$dark-primary-color: var(--primary-dark, #2D7264);
$green: var(--primary-color, #25A194);
$red: var(--secondary-color, #E73446);
$card-radius: 16px;