@if (isOpen) {
  <div class="grid-filter-overlay-backdrop" (click)="close.emit()"></div>
  <aside class="grid-filter-overlay-panel">
    <div class="filter-drawer-header">
      <h3>{{ title }}</h3>
      <button mat-icon-button type="button" (click)="close.emit()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="filter-drawer-body">
      @if (form && config) {
        <form [formGroup]="form">
          <common-dynamic-form [formControls]="config"></common-dynamic-form>
        </form>
      }
    </div>
    <div class="filter-drawer-footer">
      @if (resetBtnConfig) {
        <common-button [config]="resetBtnConfig"></common-button>
      }
      @if (applyBtnConfig) {
        <common-button [config]="applyBtnConfig"></common-button>
      }
    </div>
  </aside>
}
